/* General Layout:                                                                */
/*       ________________________________________________________________         */
/*      |                      |            AvailableItemsDiv           |         */
/*      |    AddReservationDiv |                                        |         */
/*      |                      |                                        |         */
/*      |                      |                                        |         */
/*      |______________________|________________________________________|         */
/*      |                                         |                     |         */
/*      |            CheckedoutItems              | CalandarDisplayDiv  |         */
/*      |                                         |                     |         */
/*      |_________________________________________|_____________________|         */
/**/

.filterDiv {
  float: left;
  background-color: white;
  color: white;
  width: 23%;
  text-align: center;
  margin: 1%;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 5px;
  overflow: hidden;
  background-color: black;
}

/* Style the buttons */
.btn {
  border-color: black;
  outline: none;
  background-color: #FFE4B2;
  width: 23%;
  padding-left: 1%;
  border-radius: 4px;
  overflow: hidden;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

input[type=submit] {
    border: 2px solid black;
    border-radius: 4px;
}
