<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/homepage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/ItemFilter.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/datepicker.css') }}">
<script type="text/javascript" src="static\scripts\ItemsDisplay.js" async></script>
<html>
	<div class="OverallDiv">
		<div class="row">
			<div class="column33">
				<div class="AvailableItemsDiv">
					<!--AvailableItemsDiv-->
					<table style="width: 100%">
						<th>Onid Username</th>
						{% for dictItems in OnidList %}
							<tr>
								{% for key, value in dictItems.items() %}
									<td>
										<form method="url_for( Reservations )" style="border-color: rgb(255,153,0)">
											<input name="User" value="{{value}}" type="submit" style="width: 100%">
											<input name="Item" value="{{Item}}" type="hidden">
										</form>
									</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="column33">
				<div class="AvailableItemsDiv">
					<!--AvailableItemsDiv-->
						<div id="myBtnContainer" style="border: none;">
  						<button class="btn active" onclick="filterSelection('all')">Show all</button>
  						<button class="btn" onclick="filterSelection('Laptop')">Laptops</button>
  						<button class="btn" onclick="filterSelection('ConferenceCam')">ConCams</button>
  						<button class="btn" onclick="filterSelection('Projector')">Projectors</button>
  						<button class="btn" onclick="filterSelection('Presenter')">Presenters</button>
  						<button class="btn" onclick="filterSelection('Webcam')">Webcams</button>
							<button class="btn" onclick="filterSelection('Reader')">Readers</button>
							<button class="btn" onclick="filterSelection('Adapters')">Adapters</button>
							<button class="btn" onclick="filterSelection('Cables')">Cables</button>
							<button class="btn" onclick="filterSelection('Microphone')">Micro</button>
							<button class="btn" onclick="filterSelection('other')">other</button>
						</div>
						<div class="container">
							{% for dictItems in InventoryList %}
								{% if dictItems['Status'] == 'in' %}
				  				<div class="filterDiv {{dictItems['ItemType']}}" style="color: white;">
										<form method="url_for( Reservations )">
											<input name="User" value="{{User}}" type="hidden">
											<input name="Item" value="{{dictItems['Item']}}" type="submit" style="width: 100%">
										</form>
									</div>
								{% endif %}
								{% if dictItems['Status'] == 'reserved' %}
									<div class="filterDiv {{dictItems['ItemType']}}" style="color: red; background-color: red;">
										<form method="url_for( Reservations )">
											<input name="User" value="{{User}}" type="hidden">
											<input name="Item" value="{{dictItems['Item']}}" type="submit" style="width: 100%;">
										</form>
									</div>
								{% endif %}
								{% if dictItems['Status'] == 'out' %}
									<div class="filterDiv {{dictItems['ItemType']}}" style="color: yellow; background-color: yellow;">
										<form method="url_for( Reservations )">
												<input name="User" value="{{User}}" type="hidden">
												<input name="Item" value="{{dictItems['Item']}}" type="submit" style="width: 100%;">
										</form>
									</div>
								{% endif %}
							{% endfor %}
						</div>
				</div>
			</div>
			<div class="column33">
			<form method="{{ url_for('Reservations') }}" class="SubmitButton" style="height: 100%; width: 100%">
					{% if User != 'None' %}
						<div style="width: 50%; float: left;">{{User}}</div>
					{% else %}
						<div style="width: 50%; float: left;">Pick a User</div>
					{% endif %}
					{% if Item != 'None' %}
						<div style="width: 50%; float: right;">{{Item}}</div>
					{% else %}
						<div style="width: 50%; float: right;">Pick an Item</div>
					{% endif %}
					{% if Rescheck == 0 %}
				<div class="AddReservationDiv">
					<div style="float: left; width: 50%;">
						<input type="date" value="1980-08-26" name="DateOut" style="width: 100%">
						<select name="TimeOut">
						  <option value="8:00 AM">8:00 AM</option>
						  <option value="9:00 AM">9:00 AM</option>
						  <option value="10:00 AM">10:00 AM</option>
						  <option value="11:00 AM">11:00 AM</option>
							<option value="2:00 PM">12:00 PM</option>
							<option value="1:00 PM">1:00 PM</option>
							<option value="2:00 PM">2:00 PM</option>
							<option value="3:00 PM">3:00 PM</option>
							<option value="4:00 PM">4:00 PM</option>
							<option value="5:00 PM">5:00 PM</option>
							<option value="6:00 PM">6:00 PM</option>
						</select>
					</div>
					<div style="float: right; width: 50%;">
						<input type="date" value="1980-08-26" name="DateIn" style="width: 100%">
						<select name="TimeIn">
						  <option value="8:00 AM">8:00 AM</option>
						  <option value="9:00 AM">9:00 AM</option>
						  <option value="10:00 AM">10:00 AM</option>
						  <option value="11:00 AM">11:00 AM</option>
							<option value="12:00 PM">12:00 PM</option>
							<option value="1:00 PM">1:00 PM</option>
							<option value="2:00 PM">2:00 PM</option>
							<option value="3:00 PM">3:00 PM</option>
							<option value="4:00 PM">4:00 PM</option>
							<option value="5:00 PM">5:00 PM</option>
							<option value="6:00 PM">6:00 PM</option>
						</select>
					</div>
					<input type="text" name="Description" placeholder="Description..." style="height: 20%">
					<input type="text" name="Destination" placeholder="Destination..." style="height: 20%">
				</div>
						<input name="User" value="{{User}}" type="hidden">
						<input name="Item" value="{{Item}}" type="hidden">
						<input name="Destination" value="{{Destination}}" type="hidden">
						<input name="Description" value="{{Description}}" type="hidden">

						<input name="CheckoutTrigger" value="Checkout Item" type="submit" style="width: 100%">
						<input name="ReserveTrigger" value="Reserve Item" type="submit" style="width: 100%">
					</form>
				{% endif %}
			</div>
		</div>
		<div class="row">

			<div class="column60">
				<div class="CheckedoutItems">
					<!--CheckedoutItems-->
					<table style="width: 100%">
						<th>Item</th><th>User</th><th>In</th><th>Out</th><th>Date In</th><th>Date Out</th><th>Destination</th><th>Description</th><th>Status</th>
						{% for dictItems in ReservedList %}
							<tr style="background-color: white;">
									<td>
										{{dictItems['Item']}}
									</td>
									<td>
										{{dictItems['User']}}
									</td>
									<td>
										{{dictItems['In']}}
									</td>
									<td>
										{{dictItems['Out']}}
									</td>
									<td>
										{{dictItems['DateIn']}}
									</td>
									<td>
										{{dictItems['DateOut']}}
									</td>
									<td>
										{{dictItems['Destination']}}
									</td>
									<td>
										{{dictItems['Description']}}
									</td>
									{% if dictItems['Status'] == 'out' %}
										<td style="background-color: yellow;">
											{{dictItems['Status']}}
										</td>
										<td style="width: 20%;">
											<form method="url_for( Reserve )" class="CheckInButton" style="border-color: white">
												<input name="CheckinTrigger" value="Check-In" type="submit" style="width: 100%">
												<input name="User" value="{{dictItems['User']}}" type="hidden">
												<input name="Item" value="{{dictItems['Item']}}" type="hidden">
												<!--<input name="CheckinTrigger"  value="1" type="hidden">-->
											</form>
										</td>
									{% endif %}
									{% if dictItems['Status'] == 'reserved' %}
										<td style="background-color: red;">
											{{dictItems['Status']}}
										</td>
										<td style="background-color: blue; width: 20%;">

											<form method="url_for( Reserve )" class="CheckInButton" style="border-color: blue; width: 20%;">
												<input name="CancelRes" value="Cancel" type="submit">
												<input name="User" value="{{dictItems['User']}}" type="hidden">
												<input name="Item" value="{{dictItems['Item']}}" type="hidden">
												<!--<input name="CheckinTrigger"  value="1" type="hidden">-->
											</form>

											<form method="url_for( Reserve )" class="CheckInButton" style="border-color: blue; width: 60%;">
												<input name="CheckOutRes" value="Check Out" type="submit">
												<input name="User" value="{{dictItems['User']}}" type="hidden">
												<input name="Item" value="{{dictItems['Item']}}" type="hidden">
												<!--<input name="CheckinTrigger"  value="1" type="hidden">-->
											</form>

										</td>
									{% endif %}
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="column40">
				<div class="CalandarDisplayDiv">
					<!--CalandarDisplayDiv-->
					<img src="http://www.federalholidayscalendar.com/wp-content/uploads/2017/08/Print-August-2018-Calendar.jpg" alt="Paris" class="center">
				</div>
			</div>
		</div>
	</div>
</html>
